<!-- templates/admin/includes/footer.html -->

<div th:fragment="footer">
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.themekita.com">ThemeKita</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://themewagon.com/license/#free-item">Licenses</a>
                    </li>
                </ul>
            </nav>
            <div class="copyright ml-auto">
                2025, made with <i class="la la-heart heart text-danger"></i> by <a href="http://www.anantares.com">Ananta Residency</a>
            </div>				
        </div>
    </footer>

    <!-- Modal (still part of footer) -->
    <div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" aria-hidden="true">
        ...
    </div>

    <!-- Scripts -->
    <script src="https://themewagon.github.io/Ready-Bootstrap-Dashboard/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="https://themewagon.github.io/Ready-Bootstrap-Dashboard/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="https://themewagon.github.io/Ready-Bootstrap-Dashboard/assets/js/core/popper.min.js"></script>
    <script src="https://themewagon.github.io/Ready-Bootstrap-Dashboard/assets/js/core/bootstrap.min.js"></script>
    <script src="https://themewagon.github.io/Ready-Bootstrap-Dashboard/assets/js/plugin/chartist/chartist.min.js"></script>
    <script src="https://themewagon.github.io/Ready-Bootstrap-Dashboard/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
    <script src="https://themewagon.github.io/Ready-Bootstrap-Dashboard/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="https://themewagon.github.io/Ready-Bootstrap-Dashboard/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <script src="https://themewagon.github.io/Ready-Bootstrap-Dashboard/assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="https://themewagon.github.io/Ready-Bootstrap-Dashboard/assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
    <script src="https://themewagon.github.io/Ready-Bootstrap-Dashboard/assets/js/plugin/chart-circle/circles.min.js"></script>
    <script src="https://themewagon.github.io/Ready-Bootstrap-Dashboard/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="https://themewagon.github.io/Ready-Bootstrap-Dashboard/assets/js/ready.min.js"></script>
    <script src="https://themewagon.github.io/Ready-Bootstrap-Dashboard/assets/js/demo.js"></script>
</div>
